body{
    background-color: white;
}

#main{
    width: 100%;

    text-align: center;
    position: fixed;
}

#main img{
    height: 300px;

}
#header{
    font-size: medium;
    font-family: "Bookman Old Style";
}

#header img{

    height: 90px;
    width: 90px;

}